.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Prototipo-Arch/v17/DocumentLayout.json
.vs/Prototipo-Arch/v17/.wsuo
.vs/Prototipo-Arch/FileContentIndex/8ab90f68-fa3f-4b3e-afe6-7e3935aad042.vsidx
.vs/Prototipo-Arch/FileContentIndex/970c3187-a5dd-49c1-abae-28f11d6de423.vsidx
.vs/Prototipo-Arch/FileContentIndex/792e44db-1a48-4733-9f27-947ce98e8c5c.vsidx
.vs/Prototipo-Arch/FileContentIndex/988f48e8-5fe5-4071-bd69-14146616cd66.vsidx
/.vs
